<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <%= compilation.assets['spritemap.svg'].source() %>
</body>
</html>
