name: CI

on: [push, pull_request]

jobs:
    setup:
        runs-on: ubuntu-latest
        outputs:
            cache-hit: ${{ steps.cache-deps.outputs.cache-hit }}
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24.13.0
                  cache: 'npm'
            - id: cache-deps
              uses: actions/cache@v5
              with:
                  path: ~/.npm
                  key: npm-cache-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
                  restore-keys: |
                      npm-cache-${{ runner.os }}-
            - run: npm clean-install --no-audit --no-fund
              if: steps.cache-deps.outputs.cache-hit != 'true'

    build:
        runs-on: ubuntu-latest
        needs: setup
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24.13.0
                  cache: 'npm'
            - run: npm clean-install --no-audit --no-fund --prefer-offline
            - run: npm run build

    lint:
        runs-on: ubuntu-latest
        needs: setup
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24.13.0
                  cache: 'npm'
            - run: npm clean-install --no-audit --no-fund --prefer-offline
            - run: npm run lint

    test:
        runs-on: ubuntu-latest
        needs: setup
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24.13.0
                  cache: 'npm'
            - run: npm clean-install --no-audit --no-fund --prefer-offline
            - run: npm run test
